<section class="about">
  <h3 class="sub-header" id="about">About</h3>
  <h2 class="title">More about me!</h2>

  <div class="box-wrapper">
    <div class="box">
      <p>
        I'm a self-taught web/frontend developer with experience working with an
        agile team with diverse nationalities. My background in customer support
        und quality assurance inform my user centered approach when tackling
        problems.
      </p>
    </div>
    <div class="box color">
      <p>
        Fueled by my passion for understanding how everything is connected, I
        consider myself a "forever student," eager to both build on my
        foundations in web development, and continue learning more and more.
      </p>
    </div>
  </div>
  <p class="top"><a href="#portfolio">Back to top ⭡</a></p>
</section>
