:host {
  display: inline-block;
  min-height: 100%;
  width: 100px;
  border-right: 1px solid rgba(1000, 1000, 100, 0.07);
  background-color: transparent;
  flex-shrink: 0;
}

@media only screen and (max-width: 1400px) {
  :host {
    display: none;
  }
}
