:host {
  display: flex;
  flex-direction: row;
  height: 160px;
  width: 87%;
  align-items: center;

  @media (max-width: 1200px) {
    width: 100%;
    padding-right: 32px;
  }

  .logo {
    height: 36px;
    width: auto;
    margin-left: 48px;

    @media (max-width: 1200px) {
      margin-left: 32px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;

    ul {
      display: flex;
      flex-direction: row;

      li {
        font-size: 20px;
        margin-left: 48px;
        font-weight: bold;
        cursor: pointer;
        padding: 12px;
      }
    }
  }
}
