:host {
  display: flex;
  flex-direction: row;
  height: 160px;
  width: 87%;
  align-items: center;

  @media (max-width: 1200px) {
    width: 100%;
    padding-right: 32px;
    height: 100px;
  }

  .logo {
    height: 36px;
    width: auto;
    margin-left: 48px;

    @media (max-width: 1200px) {
      margin-left: 32px;
    }

    @media (max-width: 720px) {
      display: none;
    }
  }

  .mobile-logo {
    margin-left: 32px;
    height: 50px;
    width: auto;

    @media (min-width: 721px) {
      display: none;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;

    ul {
      display: flex;
      flex-direction: row;

      @media (max-width: 720px) {
        display: none;
      }

      li {
        font-size: 20px;
        margin-left: 48px;
        font-weight: bold;
        cursor: pointer;
        padding: 12px;
        transition: all 0.2s;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid rgb(34, 193, 195);
        }
      }
    }

    .mobile-menu {
      height: 50px;
      width: 50px;
      /* Hidden for now*/
      display: none;

      @media (min-width: 721px) {
        display: none;
      }
    }
  }
}
