<h3 class="sub-header">Portfolio of a</h3>
<h2 class="title">Web-Developer</h2>

<section class="hero">
  <div class="pic-wrapper">
    <img
      src="assets/images/laptop-on-table.jpg"
      alt="laptop and code background"
    />
  </div>
  <div class="text-wrapper">
    <h3><span class="nice">Nice to meet you!</span>👋</h3>
    <p>
      I'm a Web-Developer and enjoy creating things out of nothing for the
      internet. My interest developed from making simple forum banners to
      manipulating websites with the page inspector to learning web development.
    </p>
  </div>
</section>
