<article>
  <div class="content">
    <div class="text">
      <h4>Pokemon App</h4>
      <p>
        With Pokedex you can find information about pokemon which is done by
        using an open-source API.
      </p>
      <p>Built with: HTML, CSS, JS, Jquery</p>
    </div>

    <div class="links">
      <a href="">Code ➜</a>
      <a href="">Live ➜</a>
    </div>
  </div>
  <!--Image section-->
  <div class="img">
    <img src="assets/Pokemon_logo.svg" alt="picture of project" />
  </div>
</article>

<!--New project-->
<article class="reverse">
  <div class="content">
    <div class="text">
      <h4>Pokemon App</h4>
      <p>
        With Pokedex you can find information about pokemon which is done by
        using an open-source API.
      </p>
      <p>Built with: HTML, CSS, JS, Jquery</p>
    </div>

    <div class="links">
      <a href="">Code ➜</a>
      <a href="">Live ➜</a>
    </div>
  </div>
  <!--Image section-->
  <div class="img">
    <img src="assets/Pokemon_logo.svg" alt="picture of project" />
  </div>
</article>
