<h3 class="sub-header align" id="projects">Projects</h3>
<h2 class="title align">
  I love implementing <br />
  beautiful designs
</h2>

<div class="project-wrapper">
  <article class="big-card reverse-big-card">
    <div class="content reverse-content">
      <div class="text">
        <h4>Pokedex App</h4>
        <p>
          With Pokedex you can find information about pokemon which is done by
          using an open-source API.
        </p>
        <p class="tech">Built with: HTML, CSS, JS, Jquery</p>
      </div>

      <div class="links">
        <a href="https://github.com/I-Strohmeyer/Pokedex" target="_blank"
          >Code ➜</a
        >
        <a href="https://i-strohmeyer.github.io/Pokedex/" target="_blank"
          >Live ➜</a
        >
      </div>
    </div>
    <!--Image section-->
    <div class="img reverse-img">
      <img src="assets/Pokemon_logo.svg" alt="picture of project" />
    </div>
  </article>

  <article class="big-card">
    <!--Image section-->
    <div class="img">
      <img src="assets/MeetupApp-logo.svg" alt="picture of project" />
    </div>
    <!--Text section-->
    <div class="content">
      <div class="text">
        <h4>Meetup App</h4>
        <p>
          Search for events in a city near you. Filter to see specific events.
          Includes offline functions since it's a PWA.
        </p>
        <p class="tech">Built with: React, Jest & Cucumber, Google API, AWS</p>
      </div>

      <div class="links">
        <a href="https://github.com/I-Strohmeyer/meetapp" target="_blank"
          >Code ➜</a
        >
        <a href="https://i-strohmeyer.github.io/meetapp/" target="_blank"
          >Live ➜</a
        >
      </div>
    </div>
  </article>
</div>

<article class="project-cards">
  <div class="box">
    <h5>NatureWatch (Movie API)</h5>
    <p>
      Backend for a movie API that has been used by my NatureWatch applications.
    </p>
    <span>Built with: node.js, Express, MongoDB</span>
    <a href="https://github.com/I-Strohmeyer/NatureWatch" target="_blank"
      >Code ➜</a
    >
  </div>
  <div class="box">
    <h5>NatureWatch (React)</h5>
    <p>
      Create an account and view movies and their info. If you like one, you can
      favorite it! Based on the NatureWatch movie API.
    </p>
    <span>Built with: React, Redux, Bootstrap</span>
    <a href="https://github.com/I-Strohmeyer/NatureWatch-Client" target="_blank"
      >Code ➜</a
    >
  </div>
  <div class="box">
    <h5>NatureWatch (Angular)</h5>
    <p>
      Create an account and view movies and their info. If you like one, you can
      favorite it! Built with Angular this time.
    </p>
    <span>Built with: Angular 2+, Angular Material</span>
    <a
      href="https://github.com/I-Strohmeyer/NatureWatch-Angular"
      target="_blank"
      >Code ➜</a
    >
  </div>
</article>
