:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #9a9a9a;
  background-image: repeating-linear-gradient(
    45deg,
    #848484 0,
    #848484 20px,
    transparent 20px,
    transparent 60px
  );
  background-size: 20% 100%;
  background-repeat: no-repeat;
  background-position: right;

  app-footer {
    flex-grow: 1;
  }
}
