<app-border></app-border>
<main>
  <h3>Portfolio of a</h3>
  <h1>Web-Developer</h1>

  <section class="hero">
    <div class="pic-wrapper">
      <img
        src="assets/images/laptop-on-table.jpg"
        alt="laptop and code background"
      />
    </div>
    <div class="text-wrapper">
      <h3><span class="nice">Nice to meet you!</span>👋</h3>
      <p>
        I'm a Web-Developer and enjoy creating things out of nothing for the
        internet. My interest developed from making simple forum banners to
        manipulating websites with the page inspector to learning web
        development.
      </p>
    </div>
  </section>

  <section class="projects">
    <h2 class="display">Projects</h2>
  </section>

  <section class="about">
    <h2 class="display">About</h2>
  </section>
</main>
